.t-main {
	width: 100%;
	height: 6.5rem;
	text-align: center;
	border-radius: 0.2rem;
	overflow: hidden;
	position: relative;
	transition: 0.5s;
	margin-bottom: 1rem;
}

.t-main h3 {
	font-size: 1.1rem;
	font-weight: 700;
    margin-bottom: 0px;
}

.t-main p {
	margin-bottom: 0;
}

.t-back {
	width: 100%;
    height: 6.5rem;
	position: absolute;
	top: 0;
	left: 0;
	padding: 5px 15px 0 15px;
	text-align: center;
	background: #99bfaf;
}

.t-front {
	width: 100%;
	height: 6.5rem;
	position: relative;
	z-index: 10;
	background: #99bafa;
	padding: 5px 15px 0 15px;
	bottom: 0px;
	transition: all 0.5s ease;
    cursor: pointer;
}


.t-main:hover .t-active {
	bottom:-200px;
	transition: all 0.5s ease;
}

.t-main:hover {
	transition:0.5s;
}

.t-back {
    cursor: pointer;
}

/* cbcram */

.col-t {
    padding: 0 0.5rem 0 0.5rem;
}

/* ebaraut */

.modal-header {
	background: green;
	border-top-left-radius: .2rem;
	border-top-right-radius: .2rem;
}
.modal-title {
	font-size: 1.5rem;
	font-weight: 700;
}

.modal-t-name {
    font-size: 1.4rem;
	font-weight: 600;
}

.modal-t-spec {
    font-size: 1.1rem;
	font-weight: 600;
}
